.contacto{
    background-color: #f3f6ff;
    padding-bottom: 42px;
    .f-enviar{
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: #275cff;
        color: white;
        border: none;
        border-radius: 9px;
        padding: 12px 8px;
    }
    .contacto-title{
        margin: 42px 0;
        padding: 64px 12px 32px;
        text-align: center;
    }
    .form{
        background-color: #fff;
        padding: 18px 16px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 18px;
        div{
            display: flex;
            flex-direction: column;
            margin:24px 0;
            input, textarea{
                border: 1px solid #eeeeee;
                border-radius: 12px;
                padding: 8px 18px;
            }
            label{
                margin-bottom: 4px;
            }
            ::placeholder{
                color: rgb(185, 185, 185);
            }
            
        }
    }
    .iconos-final{
        margin: 42px 0;
        img{
            max-width: 60px;
            margin-bottom: 24px;
        }
    }
    .iconos-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}