#cubrir{
    padding: 42px 4%;
    background-color: #f3f6ff;
    margin-top: 20%; 
    p{
        color: #757575;
    }
    .inner-cubrir{
        background-color: #fff;
        padding: 8%;
        margin-top: 18%;
        border-radius: 18px;
        h2{
            font-size: 18px;
            margin: 44px 0;
        }
    }
    img{
        border-radius: 18px;
        width: 100%;
    }
    .icon-header{
        display: flex;
        flex-direction: row;
        -moz-column-gap: 22px;
        column-gap: 22px;
        margin: 24px 0;
        row-gap: 41px;
        padding: 24px 24px;
        justify-content: stretch;
        align-items: center;
        border: 1px solid #efefef;
        border-radius: 18px;
        img{
            max-width: 54px;
        }
        h3{
            margin: 0;
            font-size: 18px;
        }
    }
}
.icon-header-cont{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
}
@media(min-width:992px){
    #cubrir .icon-header{
        max-width: 300px;
        width: 268px;
    }
}