#cubrir{
    #cubrir_hijo{
        padding: 64px;
        h3{
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 16px;
        }
    }
    padding: 42px 4%;
    background-color: #f3f6ff;
    margin-top: 64px; 
    .title-text-img{
        p{
            color: #757575;
            padding: 4% 8% 4% 0;
        }
        h3{
            padding-right: 8%;
        }
    }
    .title-text-img{
        display: flex;
        padding: 16px;
    }
    .inner-cubrir{
        background-color: #fff;
        padding: 8%;
        margin-top: 64px;
        border-radius: 16px;
        max-width: 1120px;
        margin: 0 auto;
        h2{
            font-size: 18px;
            margin: 44px 0;
        }
    }
    img{
        border-radius: 8px;
        width: 100%;
        max-width: 496px;
        min-width: 560px;
        max-height: 450px;
    }
    .icon-header{
        display: flex;
        flex-direction: row;
        -moz-column-gap: 22px;
        column-gap: 32px;
        /* margin: 24px 0; */
        row-gap: 32px;
        padding: 24px 24px;
        justify-content: stretch;
        align-items: center;
        border: 1px solid #efefef;
        border-radius: 16px;
        img{
            max-width: 32px;
            min-width: initial;
        }
        h3{
            margin: 0;
            font-size: 18px;
        }
    }
}
.icon-header-cont{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
    justify-content: center;
    max-width: 1140px;
}
@media(min-width:992px){
    #cubrir {
        .inner-cubrir {
        background-color: #fff;
        padding: 16px;
        padding-bottom: 32px;
        margin-top: 32px;
        }
        .icon-header{
            max-width: 330px;
            width: 330px;
            max-height: 82px;
        }
        .icon-header-cont {
            justify-content: center;
            align-items: center;
        }
        .inner-cubrir 
            h2 {
                margin-top: 48px;
                margin-bottom: 32px;
                font-size: 18px;
                line-height: 32px;
                margin-left: 23px;
        }
    }
}
@media(max-width:992px){
    #cubrir .title-text-img {
        display: block; 
    }
}