.gran-tamano{
    .gran-tamano-bg{
        background-image: url('../img/patron-nuevo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 64px;
        padding-right: 158px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .gran-cont{
        background-color: #f3f6ff;
        border-radius: 16px;
        padding: 0;
        img{
            border-radius: 8px; 
            margin: 32px;
            margin-right: 0;
        }
        h3{
            margin: 2px 0px 24px;
            color: #151515;
        }
        p{
            color: #757575;
        }
    }
}
@media(max-width:1200px){
    .gran-tamano .gran-cont img{
        max-height: 313px;
    }
}
@media(max-width:552px){
    .gran-tamano .gran-cont img{
        width: 100%;
        max-width: 380px;
    }
}
@media(min-width:992px){
    .gran-tamano .gran-cont {
        display: flex;
        max-width: 1120px;
        
    }
}
