.gran-tamano{
    .gran-cont{
        background-color: #f3f6ff;
        padding: 30px;
        border-radius: 18px;
        max-width: 95%;
        img{
            border-radius: 18px; 
        }
        h3{
            margin: 38px 0px 24px;
            color: #151515;
        }
        p{
            color: #757575;
        }
    }
}
@media(max-width:1200px){
    .gran-tamano .gran-cont img{
        width: 100%;
        max-height: 313px;
    }
}
