@mixin square($backgroundColor, $titleColor, $descriptionColor, $backgroundImage){
    background-color:$backgroundColor;
    color: $titleColor;
    border-radius: 18px;
    min-height: 500px;
    padding-top: 40px;
    margin: 32px 0;
    padding-bottom: 34px;
    h2{
        font-weight: 700;
        color: #FFF;
    }
    p{
        color: $descriptionColor;
        max-width: 85%;
        margin: 0 auto;
        margin-top: 12px;
    }
    img{
        max-width: 54px;
        margin-bottom: 32px;
    }
    .linea{
        background-image: url($backgroundImage);
        height: 218px;
        background-size: cover;
        background-position: center center;
        display: block;
        background-repeat: no-repeat;
        margin-top: 12%;
    }
}

.square-bg{
    @include square(#2965fe, #FFF, #ffffff, '/img/patron-blanco.png');
    
}
.square-2{
    @include square(#d6e0ff, #151515, #757575, '/img/patron.png');
    h2{
        color: #151515
    }
}
.square-3{
    @include square(#f3f6ff, #151515, #757575, '/img/patron.png');
    h2{
        color: #151515
    }
}
.icon-squares{
    margin-top:80px
}
.main-squares-cont{
    display: flex;
    column-gap: 24px;
    h2{
        font-size: 24px;
    }
}
@media (max-width: 768px){
    .main-squares-cont{
        display: block;
    }
}
@media(min-width:768px){
    .square-bg .linea {
        height: 289px;
        margin-top: 3%;
    }
    .square-2 .linea{
        height: 289px;
        margin-top: 3%;
    }
    .square-3 .linea{
        height: 289px;
        margin-top: 3%;
    }
}
