@mixin square($backgroundColor, $titleColor, $descriptionColor, $backgroundImage){
    background-color:$backgroundColor;
    color: $titleColor;
    border-radius: 16px;
    min-height: 496px;
    padding-top: 32px;
    margin: 64px 0;
    height: 496px;
    h2{
        font-weight: 600;
        color: $titleColor;
    }
    p{
        color: $descriptionColor;;
        margin: 0 auto;
        margin-top: 12px;
        padding: 0 54px;
    }
    img{
        max-width: 54px;
        margin-bottom: 32px;
    }
    .linea{
        background-image: url($backgroundImage);
        height: 182px;
        background-size: contain;
        background-position: center center;
        display: block;
        background-repeat: no-repeat;
        margin-top: 12%;
    }
}

.square-bg{
    @include square(#2965fe, #FFF, #ffffff, '../img/patron-blanco.png');
    
}
.square-2{
    @include square(#d6e0ff, #151515, #757575, '../img/patron.png');
}
.square-3{
    @include square(#f3f6ff, #151515, #757575, '../img/ttt.png');
}
.icon-squares{
    margin-top:80px
}
.main-squares-cont{
    display: flex;
    column-gap: 24px;
    h2{
        font-size: 24px;
    }
}
@media(min-width:768px){
    .square-bg .linea {
        height: 182px;
        margin-top: 32px;
    }
    .square-2 .linea{
        height: 182px;
        margin-top: 32px;
    }
    .square-3 .linea{
        height: 182px;
        margin-top: 32px;
    }
}
@media (max-width: 1023px){
    .square-bg{
        @include square(#2965fe, #FFF, #ffffff, '../img/patron-1-max-1023.png');
        .linea{
            margin-top: 4%;
            height: 254px;
        }
    }
    .square-2{
        @include square(#d6e0ff, #151515, #757575, '../img/patron-1023-gris-azul.png');
        .linea{
            margin-top: 4%;
            height: 254px;
        }
        
    }
    .square-3{
        @include square(#d6e0ff, #151515, #757575, '../img/patron-1023-ultimo.png');
        .linea{
            margin-top: 4%;
            height: 254px;
        }
        
    }
    .main-squares-cont{
        display: block;
    }
    .icon-squares{
        max-width: 100%;
        margin-top:80px
    }
}
@media (max-width:567px){
    .square-bg{
        @include square(#2965fe, #FFF, #ffffff, '../img/patron-blanco.png');
        .linea{
            margin-top: 6%;
            height: 222px;
        }
    }
}
@media (min-width: 1024px){
    .icon-squares {
        margin-top: -32px;
    }
}

