#navBar{
    .nav-link {
     color: black;
    }
    .nav-link:focus, .nav-link:hover {
        color: #265CFF;
    }
    margin: 0 auto;
    justify-content: center;
    column-gap: 42px;
    padding: 0px 0 0px 0;
    margin-right: 218px;
    li{
        font-weight: 600;
    }
    .navbar-brand{
        justify-content: center;
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-weight: 600;
        font-size: 28px;
        padding: 0;
    }
}
.navbar-brand img{
    width: 35px;
    height: auto;
}
.navbar-toggler-icon{
    background-image: url('../img/ic_menu@3x.png');
    background-size: contain;
    height: 32px;
    width: 32px;
}
.navbar-toggler{
    border: none;
    padding: 0;
    height: 32px;
    width: 32px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
#navBar.navbar{
    padding: 32px;
}