$grayColor : gray;
.title-paragraph h2{
    color:#151515;
    font-size: 24px;
    font-weight: 700;
}
.title-paragraph p{
    color: $grayColor;
}
@media (min-width:768px){
    .title-paragraph h2{
        font-size: 32px;
    }
}